body {
    background: linear-gradient(45deg, rgba(255, 182, 193, 0.7), rgba(255, 105, 180, 0.7)); /* Soft pink gradient */
    font-family: Arial, sans-serif;
    text-align: center;
    color: white;
    margin: 0;
    padding: 0;
    height: 100vh;
    background-size: cover;
}

h1 {
    font-size: 3em; /* Slightly bigger text */
    margin-top: 50px;
}

#initial-text, #share-smile-text {
    font-size: 1.2em; /* Slightly bigger text */
    margin: 20px;
}

#buttons {
    margin-top: 30px;
}

button {
    font-size: 1.5em; /* Slightly bigger text */
    padding: 15px 30px;
    margin: 10px;
    cursor: pointer;
    border-radius: 5px;
    background-color: #ff69b4;
    border: none;
    color: white;
    transition: transform 0.3s ease-in-out;
}

button:hover {
    transform: scale(1.1); /* Slightly enlarge button on hover */
}

button:active {
    transform: scale(1);
      }
